html {
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   font-family: Verdana, Helvetica, sans-serif;
   font-size: 11px;
}
body {
   padding: 0;
   margin: 0;
}
#content {
   padding: 10px;
}

.tab-icon {
   float: left;
   margin-right: 10px;
}

.ui-tabs {
  border: none !important;
}

.listing-value {
   color: #666;
}

table {
   font-size: 11px;
}

input[type=text] {
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 5;
    position: relative;
    text-decoration: none !important;
    border: 1px solid #D3D3D3;
    line-height: 150%;
    border-radius: 4px;
};